.faq {
    padding-top: 100px;
    padding-bottom: 120px;
}


.accordion__collapsible {

    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }
}

.accordion__collapsible.collapsible--open {
    .collapsible__header {
        background-color: #5FC998;
    }

    .collapsible__header p {
        color: #fff;
    }

    .collapsible__header p::before {
        background-color: #fff;
    }
}

.accordion__collapsible:not(:last-child) {
    border-bottom: none;
}

.collapsible__header {
    background     : #fff;
    filter         : drop-shadow(0px 12px 31px rgba(15, 112, 68, 0.11));
    box-shadow     : 0px 3px 7px rgba(15, 112, 68, 0.18);
    border-radius  : 20px;
    font-weight    : 400;
    font-size      : 18px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 6px 7px 6px 50px;
    cursor         : pointer;
    transition     : all .6s;
}

.collapsible__header p {
    position: relative;

    &::before {
        content         : '';
        position        : absolute;
        top             : calc(50% - 5px);
        left            : -27px;
        width           : 10px;
        height          : 10px;
        background-color: #19A364;
        border-radius   : 50%;
    }
}

.collapsible__header::after {
    content      : '';
    position     : relative;
    z-index      : 0;
    width        : 48px;
    height       : 48px;
    background   : #f6f6f6;
    box-shadow   : 0px 3px 7px rgba(15, 112, 68, 0.18);
    border-radius: 14px;
}

.collapsible__header::before {
    content     : '';
    position    : absolute;
    right       : 25px;
    top         : 23px;
    z-index     : 1;
    width       : 11px;
    height      : 11px;
    background  : transparent;
    border-right: 3px solid #19A364;
    border-top  : 3px solid #19A364;
    transform   : rotate(135deg);
    transition  : all .6s;
}

.collapsible__content {
    margin    : 0;
    max-height: 0;
    opacity   : 0;
    overflow  : hidden;
}

.collapsible--open .collapsible__header::before {
    transform: rotate(-45deg);
    top      : 27px;
}

.collapsible--open .collapsible__content {
    max-height: 200px;
    opacity   : 1;
    padding   : 40px 45px;
    line-height: 2em;

}


.collapsible__content p {

    color      : var(--text_color);
    font-weight: 300;

    span {
        font-weight: 500;
        color      : #000;
    }
}

.form__inner-box {
    position: relative;
    z-index: 1;
}

.form__inner {
    background   : linear-gradient(180deg, #03A65B 0%, #35EF99 100%);
    border-radius: 30px;
    color        : #fff;
    padding      : 49px 45px 180px;
    position     : relative;
    overflow: hidden;

    .main__btn-icon {
        padding: 20px 32px;
    }

}


.form__info {
    margin     : 15px 0 37px;
    max-width  : 320px;
    font-weight: 400;
    font-size  : 20px;
}

.inputfield {
    height: 60px;
    width: 260px;
    background   : #FFFFFF;
    box-shadow   : 0px 15px 24px -10px rgba(0, 0, 0, 0.18);
    border-radius: 40px;
    margin-bottom: 32px;
    align-items: center;

    input {
        font-family: inherit;
        height: 100%;
        color: #000;
        padding-left: 32px;
    }
}


.call__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    transform    : translatex(8px);
}

.notification__text {
    margin-bottom: 20px;
}


.form__img {
    position: absolute;
    bottom  : 0;
    right   : 0;
    z-index : 0;
}

.form__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .form__inner {
        padding-left: 20px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .faq {
        padding: 60px 0;
    }

    .form__inner {
        margin-top: 60px;
    }
}

@media screen and (max-width: 376px) {
    .collapsible__header p {
        max-width: 200px;
    }

    .collapsible__header {
        padding-top   : 16px;
        padding-bottom: 12px;
    }

    .collapsible__header:before {
        top: 32px !important;
    }

    .collapsible--open .collapsible__header:before {
        margin-top: 5px;
    }

    .form__inner {
        padding-left: 30px;
        padding-top: 30px;
    }

    .form__info {
        letter-spacing: 0.01em;
    }

    .notification__text {
        line-height: 1.2em;
        font-size: 14px;
    }
}