{{> header }}
<div class="main">
    <div class="container" style="position: relative; z-index: 5;">
        <div class="slider-inner swiper-container">
            <div class="slider swiper-wrapper">
                <div class="slider__item swiper-slide flex">
                    <div class="slider__img">
                        <img src="assets/img/slides_img1.png" style="position: relative; z-index: 5;" alt="">
                        <img src="assets/img/slides_img2.png" class="slider__img-money slider__img-money1" alt="">
                        <img src="assets/img/slides_img3.png" class="slider__img-money slider__img-money2" alt="">
                        <img src="assets/img/slides_img4.png" class="slider__img-money slider__img-money3" alt="">
                        <img src="assets/img/slides_img5.png" class="slider__img-money slider__img-money4" alt="">
                    </div>
                    <div class="slider__offer">
                        <h1>Bitbox 02 Multi edition</h1>
                        <p class="slider__offer-text">
                            BitBox02 Multi edition поддерживает токены Биткойн (BTC), Litecoin (LTC), Ethereum (ETH) и
                            ERC-20.
                        </p>
                        <div class="slider__offer-price flex">
                            <span>3 990 грн</span>
                            <span class="noActuall">3 990 грн</span>
                        </div>
                        <button class="main__btn-icon">В корзину <span><img src="assets/img/btnCart_icon.svg"
                                    alt=""></span></button>
                    </div>
                </div>
                <div class="slider__item swiper-slide flex">
                    <div class="slider__img">
                        <img src="assets/img/slides_img1.png" style="position: relative; z-index: 5;" alt="">
                        <img src="assets/img/slides_img2.png" class="slider__img-money slider__img-money1" alt="">
                        <img src="assets/img/slides_img3.png" class="slider__img-money slider__img-money2" alt="">
                        <img src="assets/img/slides_img4.png" class="slider__img-money slider__img-money3" alt="">
                        <img src="assets/img/slides_img5.png" class="slider__img-money slider__img-money4" alt="">
                    </div>
                    <div class="slider__offer">
                        <h1>Bitbox 02 Multi edition</h1>
                        <p class="slider__offer-text">
                            BitBox02 Multi edition поддерживает токены Биткойн (BTC), Litecoin (LTC), Ethereum (ETH) и
                            ERC-20.
                        </p>
                        <div class="slider__offer-price flex">
                            <span>3 990 грн</span>
                            <span class="noActuall">3 990 грн</span>
                        </div>
                        <button class="main__btn-icon">В корзину <span><img src="assets/img/btnCart_icon.svg"
                                    alt=""></span></button>
                    </div>
                </div>
                <div class="slider__item swiper-slide flex">
                    <div class="slider__img">
                        <img src="assets/img/slides_img1.png" style="position: relative; z-index: 5;" alt="">
                        <img src="assets/img/slides_img2.png" class="slider__img-money slider__img-money1" alt="">
                        <img src="assets/img/slides_img3.png" class="slider__img-money slider__img-money2" alt="">
                        <img src="assets/img/slides_img4.png" class="slider__img-money slider__img-money3" alt="">
                        <img src="assets/img/slides_img5.png" class="slider__img-money slider__img-money4" alt="">
                    </div>
                    <div class="slider__offer">
                        <h1>Bitbox 02 Multi edition</h1>
                        <p class="slider__offer-text">
                            BitBox02 Multi edition поддерживает токены Биткойн (BTC), Litecoin (LTC), Ethereum (ETH) и
                            ERC-20.
                        </p>
                        <div class="slider__offer-price flex">
                            <span>3 990 грн</span>
                            <span class="noActuall">3 990 грн</span>
                        </div>
                        <button class="main__btn-icon">В корзину <span><img src="assets/img/btnCart_icon.svg"
                                    alt=""></span></button>
                    </div>
                </div>
                <div class="slider__item swiper-slide flex">
                    <div class="slider__img">
                        <img src="assets/img/slides_img1.png" style="position: relative; z-index: 5;" alt="">
                        <img src="assets/img/slides_img2.png" class="slider__img-money slider__img-money1" alt="">
                        <img src="assets/img/slides_img3.png" class="slider__img-money slider__img-money2" alt="">
                        <img src="assets/img/slides_img4.png" class="slider__img-money slider__img-money3" alt="">
                        <img src="assets/img/slides_img5.png" class="slider__img-money slider__img-money4" alt="">
                    </div>
                    <div class="slider__offer">
                        <h1>Bitbox 02 Multi edition</h1>
                        <p class="slider__offer-text">
                            BitBox02 Multi edition поддерживает токены Биткойн (BTC), Litecoin (LTC), Ethereum (ETH) и
                            ERC-20.
                        </p>
                        <div class="slider__offer-price flex">
                            <span>3 990 грн</span>
                            <span class="noActuall">3 990 грн</span>
                        </div>
                        <button class="main__btn-icon">В корзину <span><img src="assets/img/btnCart_icon.svg"
                                    alt=""></span></button>
                    </div>
                </div>
                <div class="slider__item swiper-slide flex">
                    <div class="slider__img">
                        <img src="assets/img/slides_img1.png" style="position: relative; z-index: 5;" alt="">
                        <img src="assets/img/slides_img2.png" class="slider__img-money slider__img-money1" alt="">
                        <img src="assets/img/slides_img3.png" class="slider__img-money slider__img-money2" alt="">
                        <img src="assets/img/slides_img4.png" class="slider__img-money slider__img-money3" alt="">
                        <img src="assets/img/slides_img5.png" class="slider__img-money slider__img-money4" alt="">
                    </div>
                    <div class="slider__offer">
                        <h1>Bitbox 02 Multi edition</h1>
                        <p class="slider__offer-text">
                            BitBox02 Multi edition поддерживает токены Биткойн (BTC), Litecoin (LTC), Ethereum (ETH) и
                            ERC-20.
                        </p>
                        <div class="slider__offer-price flex">
                            <span>3 990 грн</span>
                            <span class="noActuall">3 990 грн</span>
                        </div>
                        <button class="main__btn-icon">В корзину <span><img src="assets/img/btnCart_icon.svg"
                                    alt=""></span></button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <button class="down__btn">
            Листайте вниз
        </button>
    </div>
    <div class="decor__inner">
        <img src="assets/img/decor1.png" alt="" class="decor__img1 decor__img">
        <img src="assets/img/decor5.png" alt="" class="decor__img2 decor__img">
        <img src="assets/img/decor2.png" alt="" class="decor__img3 decor__img">
        <img src="assets/img/decor3.png" alt="" class="decor__img4 decor__img">
        <img src="assets/img/decor4.png" alt="" class="decor__img5 decor__img">
        <span class="decor__img6 decor__img"></span>
        <img src="assets/img/decor6.png" alt="" class="decor__img7 decor__img">
        <img src="assets/img/decor9.png" alt="" class="decor__img8 decor__img">
        <img src="assets/img/decor1.png" alt="" class="decor__img9 decor__img">
        <img src="assets/img/decor8.png" alt="" class="decor__img10 decor__img">
        <span class="decor__img11 decor__img"></span>
        <img src="assets/img/decor1.png" alt="" class="decor__img12 decor__img">
        <img src="assets/img/decor7.png" alt="" class="decor__img13 decor__img">
    </div>
</div>
<section class="benefits container">
    <div class="benefits__list flex">
        <div class="benefits__item flex">
            <img src="assets/img/benefits_img1.png" alt="certificate" class="benefits__img">
            <div class="benefits__text">
                Официальный реселлер в Украине
            </div>
        </div>
        <div class="benefits__item flex">
            <img src="assets/img/benefits_img2.png" alt="garanty" class="benefits__img">
            <div class="benefits__text">
                Гарантии на
                все устройства
            </div>
        </div>
        <div class="benefits__item flex">
            <img src="assets/img/benefits_img3.png" alt="salary" class="benefits__img">
            <div class="benefits__text">
                Оплата при получении заказа
            </div>
        </div>
        <div class="benefits__item flex">
            <img src="assets/img/benefits_img4.png" alt="support" class="benefits__img">
            <div class="benefits__text">
                Тех поддержка
                по настройке
            </div>
        </div>
    </div>
</section>
<section class="categories">
    <div class="container">
        <div class="row">
            <h1 class="title">Популярные категории</h1>
            <div class="secondary__btn-icon flex">
                <span>Сравнение кошелька</span>
                <span>
                    <img src="assets/img/compare_icon.svg" alt="">
                </span>
            </div>
        </div>


        <div class="categories__list flex">
            <div class="categories__item-inner">
                <div class="categories__item categories__item-large" style="width: 553px">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img1.png" class="categories__item-img" alt="Криптокошельки">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Криптокошельки</div>
                        <button class="main__btn">Подробнее</button>
                    </div>

                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item categories__item-middle" style="width: 437px">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img2.png" alt="Хранения резервных копий">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Хранения резервных копий</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img3.png" alt="Кабели и переходники">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Кабели и переходники</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img4.png" alt="Ключи безопасности">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Ключи безопасности</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img5.png" alt="Чехлы и кейсы">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Чехлы и кейсы</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img6.png" alt="Аксессуары">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Аксессуары</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="categories__item-inner">
                <div class="categories__item">
                    <div class="categories__item-img">
                        <img src="assets/img/categories_img7.png" alt="Наборы">
                    </div>
                    <div class="categories__item-info">
                        <div class="categories__item-title">Наборы</div>
                        <button class="main__btn">Подробнее</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="product">
    <div class="container">
        <h1 class="title">Популярные товары</h1>
        <div class="tabs">
            <div class="tabs__header flex">
                <button class="tabs__header-btn js-tab-trigger" data-tab="1">Все товары</button>
                <button class="tabs__header-btn js-tab-trigger active" data-tab="2">Хиты продаж</button>
                <button class="tabs__header-btn js-tab-trigger" data-tab="3">Распродажа</button>
                <button class="tabs__header-btn js-tab-trigger" data-tab="4">Новинки</button>
            </div>
            <div class="tabs__body product__list flex">
                <div class="js-tab-content tab__content flex" data-tab="1">
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <!-- <a href="#" class="label__item credit" style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <!-- <div class="label__item" style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">Хит</div>
                                <div class="label__item" style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div> -->
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <!-- <a href="#" class="label__item video__reviews" style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a> -->
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-tab-content tab__content active flex" data-tab="2">
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <!-- <a href="#" class="label__item credit" style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <!-- <div class="label__item" style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">Хит</div>
                                <div class="label__item" style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div> -->
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <!-- <a href="#" class="label__item video__reviews" style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a> -->
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-tab-content tab__content flex" data-tab="3">
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <!-- <a href="#" class="label__item credit" style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <!-- <div class="label__item" style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">Хит</div>
                                <div class="label__item" style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div> -->
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <!-- <a href="#" class="label__item video__reviews" style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a> -->
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-tab-content tab__content flex" data-tab="4">
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <!-- <a href="#" class="label__item credit" style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img.png" alt="Аппаратный криптокошелек TREZOR">
                            </div>
                            <div class="product__card-name">Аппаратный криптокошелек TREZOR</div>
                            <div class="product__card-price">
                                <span>7 090 грн</span>
                                <span class="noActuall">7 299 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <!-- <div class="label__item" style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">Хит</div>
                                <div class="label__item" style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div> -->
                                <a href="#" class="label__item video__reviews"
                                    style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a>
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__card product__card-inner">
                        <div class="tabs__card-item product__card">
                            <div class="product__card-img">
                                <img src="assets/img/product_img1.png" alt="ASIC-майнер Bitmain Antminer S9 13,5 TH/S">
                            </div>
                            <div class="product__card-name">ASIC-майнер Bitmain Antminer S9 13,5 TH/S</div>
                            <div class="product__card-price">
                                <span>11 990 грн</span>
                            </div>
                            <div class="product__card-footer flex">
                                <button class="comments">3</button>
                                <button class="main__btn">В корзину</button>
                                <button class="like">
                                    <img src="assets/img/like_icon.svg" alt="">
                                </button>
                            </div>
                            <div class="label__box">
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #03A65B 0%, #5FC998 100%); box-shadow: 0px 4px 4px rgba(25, 163, 100, 0.25);">
                                    Хит</div>
                                <div class="label__item"
                                    style="background: linear-gradient(70.01deg, #E41D1D 0%, #FF6363 100%);">-3 %</div>
                                <!-- <a href="#" class="label__item video__reviews" style="background: linear-gradient(70.01deg, #0388A6 0%, #5F89C9 100%); box-shadow: 0px 4px 4px rgba(202, 3, 3, 0.25); box-shadow: 0px 4px 4px rgba(22, 168, 214, 0.25);"></a> -->
                                <a href="#" class="label__item credit"
                                    style="background: linear-gradient(70.01deg, #E4D01D 0%, #FFA463 100%); box-shadow: 0px 4px 4px rgba(255, 184, 0, 0.25);">4</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="brands">
    <div class="container">
        <h1 class="title">Популярные бренды</h1>
        <div class="brands__inner swiper-container">
            <div class="brands__list swiper-wrapper flex">
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands1.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands2.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands3.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands4.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands5.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands6.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands3.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands4.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands5.png" alt="">
                </div>
                <div class="brands__item swiper-slide">
                    <img src="assets/img/brands6.png" alt="">
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="banners flex">
            <div class="banner flex">
                <div class="banner__offer">
                    <h1 class="title">Заголовок баннера</h1>
                    <p class="banner__offer-text">Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине.
                    </p>
                    <a href="#" class="main__btn">Подробнее</a>
                </div>
                <div class="banner__img">
                    <img src="assets/img/banner_img1.png" alt="banner">
                </div>
            </div>
            <div class="banner flex">
                <div class="banner__offer">
                    <h1 class="title">Заголовок баннера</h1>
                    <p class="banner__offer-text">Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине.
                    </p>
                    <a href="#" class="main__btn">Подробнее</a>
                </div>
                <div class="banner__img">
                    <img src="assets/img/banner_img2.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="container">
        <h1 class="title">Отзывы наших покупателей</h1>
        <div class="reviews__list flex">
            <div class="reviews__item">
                <div class="reviews__item-name">Добробыт Обои</div>
                <div class="rating flex">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="disable__rating"></span>
                </div>
                <p class="reviews__item-info">
                    Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. Официальный дистрибьютор дает возможность организовать полный цикл
                    работы с криптовалютами.
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-name">Добробыт Обои</div>
                <div class="rating flex">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="disable__rating"></span>
                </div>
                <p class="reviews__item-info">
                    Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. Официальный дистрибьютор дает возможность организовать полный цикл
                    работы с криптовалютами.
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-name">Добробыт Обои</div>
                <div class="rating flex">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="disable__rating"></span>
                </div>
                <p class="reviews__item-info">
                    Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. Официальный дистрибьютор дает возможность организовать полный цикл
                    работы с криптовалютами.
                </p>
            </div>
        </div>

        <div class="summary__reviews">
            <div class="row">
                <span style="font-size: 24px; font-weight: 700;">5</span>
                <div class="rating flex">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="disable__rating"></span>
                </div>
            </div>

            <span class="summary__reviews-value"> Всего отзывов:<span> 11</span></span>
            <button class="main__btn-icon">Оставить отзыв <span><img src="assets/img/reviews_icon.svg"
                        alt=""></span></button>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="row">
            <h1 class="title">Популярные категории</h1>
            <div class="secondary__btn-icon flex">
                <span>Читать все статьи</span>
                <span>
                    <img src="assets/img/read_icon.svg" alt="">
                </span>
            </div>
        </div>
        <div class="news__list flex">
            <div class="banner flex">
                <div class="banner__offer">
                    <h1 class="banner__offer-title">Лучшие криптокошельки</h1>
                    <p class="banner__offer-text">Bitwallet — интернет магазин крипто кошельков
                        и аксессуаров в Украине.
                        Bitwallet — интернет магазин крипто кошельков
                        и аксессуаров в Украине.
                    </p>
                    <div class="details">Время чтения: 17 минут</div>
                </div>
                <div class="banner__label">Тема дня</div>
                <div class="banner__img">
                    <img src="assets/img/blog_img.png" alt="banner">
                </div>
            </div>
            <div class="addit__news-wrapper">
                <div class="addit__news-item">
                    <div class="addit__news-name">
                        Интернет магазин крипто кошельков и аксессуаров Bitwallet
                    </div>
                    <p class="addit__news-text">
                        Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает
                        продукцию популярных мировых брендов. Официальный дистрибьютор дает возможность ...
                    </p>
                    <div class="addit__news-datails flex">
                        <div class="hash"># Обзоры</div>
                        <div class="details">Время чтения: <span>17 минут</span> </div>
                        <div class="details date">Дата: <span> 17.05.2021</span></div>
                    </div>
                </div>
                <div class="addit__news-item">
                    <div class="addit__news-name">
                        Интернет магазин крипто кошельков и аксессуаров Bitwallet
                    </div>
                    <p class="addit__news-text">
                        Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает
                        продукцию популярных мировых брендов. Официальный дистрибьютор дает возможность ...
                    </p>
                    <div class="addit__news-datails flex">
                        <div class="details">Время чтения: <span>17 минут</span> </div>
                        <div class="details date">Дата: <span> 17.05.2021</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> faq }}
{{> info }}




{{> footer }}