<section class="info">
    <div class="container">
        <div class="row">
        <div class=" d-none d-lg-block col-lg-5">
            <div class="info__img">
                <img src="assets/img/info_img.png" alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="info__text">
                <h1 class="title">Сео заголовок</h1>
                <div class="info__img">
                    <img src="assets/img/info_img.png" alt="">
                </div>
                <p class="info__descr">
                    <span>Bitwallet</span> — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. Официальный дистрибьютор дает возможность организовать полный цикл
                    работы с криптовалютами. Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине,
                    который предлагает продукцию популярных мировых брендов. предлагает продукцию популярных мировых
                    брендов. Официальный дистрибьютор дает возможность организовать полный цикл работы с криптовалютами.
                </p>
                <p class="info__descr">
                    Официальный дистрибьютор дает возможность организовать полный цикл работы с криптовалютами.
                    Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. предлагает продукцию популярных мировых брендов.
                </p>
            </div>
        </div>
        </div>
    </div>
</section>