<section class="info">
    <div class="container">
        <div class="info__wrapper flex">
            <div class="info__img">
                <img src="assets/img/info_img.png" alt="">
            </div>
            <div class="info__text">
                <h1 class="title">Сео заголовок</h1>
                <p class="info__descr">
                    <span>Bitwallet</span> — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. Официальный дистрибьютор дает возможность организовать полный цикл
                    работы с криптовалютами. Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине,
                    который предлагает продукцию популярных мировых брендов. предлагает продукцию популярных мировых
                    брендов. Официальный дистрибьютор дает возможность организовать полный цикл работы с криптовалютами.
                </p>
                <p class="info__descr">
                    Официальный дистрибьютор дает возможность организовать полный цикл работы с криптовалютами.
                    Bitwallet — интернет магазин крипто кошельков и аксессуаров в Украине, который предлагает продукцию
                    популярных мировых брендов. предлагает продукцию популярных мировых брендов.
                </p>
            </div>

        </div>
    </div>
</section>